[Unit]
Description=Run Bing wallpaper sync daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
