[Unit]
Description=Bing wallpaper daily sync

[Service]
Type=oneshot
WorkingDirectory=[EDIT THIS!!!]
ExecStart=[CWD]/sync_latest.sh
StandardOutput=append:[CWD]/sync.log
StandardError=append:[CWD]/sync.log
